p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
h1, h2 {
 color:burlywood;
}
ul {
  font-size: 1.2em;
}
#abt {
  
  font-family: "Noto sans", sans-serif;
  background-image: url('https://images.unsplash.com/photo-1765395593270-c9b404adc9d0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0OHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: backgroundZoom 5s linear infinite;
}
@keyframes animate {
  to {
    background-position-x: -500px;
  }
}